{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2 class="text-center">Inscription</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.nom.label }}
            {{ form.nom(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.mot_de_passe.label }}
            {{ form.mot_de_passe(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.role.label }}
            {{ form.role(class="form-select") }}
        </div>

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
</div>
{% endblock %}


