{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2> Connexion</h2>
        <p>Connectez-vous pour accéder à la plateforme.</p>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.mot_de_passe.label }}
                {{ form.mot_de_passe(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn-auth") }}
            </div>
        </form>

        <p class="redirect-link">
            Pas encore inscrit ? <a href="{{ url_for('register') }}">Créer un compte</a>
        </p>
    </div>
</div>

{% endblock %}

